html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    padding-top: 35px;
}

h1, h2, h3, h4 {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.date {
    color: #828282;
    position: absolute;
    height: 10px;
    bottom: 10px; right: 0;  left: 0;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
    padding-bottom: 40px;
    position: relative;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: N; 
    line-height: X;        
    max-height: X*N;
    font-size: 20px;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: left;
}
.post h1 a, .post h1 a:visited {
    color: #333;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Open Sans';
    font-weight: 500 ;
}

.post h1 a:hover {
    color: #0085A1;
}

.post h1{
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.post h5 { 
    text-align: right;
    text-transform: uppercase;
}

.footer {
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: 50px;
}

.footer ul li {
    margin-top: 10px;
}


a {
    color: #333;
}

a:hover {
    color: #0085A1;
    text-decoration: none;
}

.footer p {
    font-size: 15px;
    color: #666;
}

.row-centered {
    text-align:center;
}

.col-centered { 
    display:inline-block; 
    float:none; 
}

.main {
    text-align: left;
}

.first h2 {
    display:inline;
    font-size: 35px;
}

.first {
    font-size: 30px;
}

.first h2 {
    border-bottom: 1px solid #e5e5e5;
}

.second {
    font-style: italic;
    font-size: 17px;
    padding-top: 40px;
    text-align: center;
}

.third {
    padding-top: 40px;
    display: block;
}

.third ul li {
    text-align: left;
    font-size: 15px;
}

.third ul {
    list-style-type: square;
}

.second a {
    text-decoration: none;
}

.second a:hover {
    color: black;
}

.left-skills h1, .right-knowledge h1 {
    border-bottom: 1px solid #e5e5e5;
}

.mySlides {
    display:none
}

.batonik {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: 2px solid #555555;
}

button:focus, button {
    outline: none;
}

.batonik:hover, .batonik:focus {
    background-color: #555555;
    color: white;
}

.navbar .navbar-brand {
    padding-top: 9px;
}

img {
    max-width: 100%;
}

.about {
    max-width: 100%;
    max-height: 100%;
}

.pager li a:focus, .pager li a:hover {
    color: #fff;
    background-color: #0085A1;
    border: 1px solid #0085A1;
}

.pager .disabled a, .pager .disabled a:focus, .pager .disabled a:hover, .pager .disabled span {
    color: #777;
    background-color: #333;
    cursor: not-allowed;
}

.pager li a, .pager li span {
    font-size: 13px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 0;
}

.pager li a, .pager li span {
    font-family: 'Open Sans';
    font-weight: 800;
    letter-spacing: 1px;
}

.pager { 
    display: inline-block;
}



.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important;
}

.text, .img{
    display: inline-block
}

.text {
    float: right;
}

.img {
    float: left;
}

article {
    margin-top: 50px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

article a:hover {
    text-decoration: none;
}

.row-fluid .col-md-8 {
    bottom: 0px;
    padding-left: 0px !important;
}

.newestart {
    border-bottom: 1px solid #e5e5e5;
}

#tit { 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.10rem;
    font-size: 2.5rem;
}

.nomargin {
    color: #767676;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.pagi {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display: flow-root;
}