.body {
    margin-left: 200px;
    margin-right: 200px;
}

h1, h2, h3, h4 {
    font-family: 'Lora', cursive;
}

.date {
    color: #828282;
    position: absolute;
    height: 10px;
    bottom: 10px; right: 0;  left: 0;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.footer {
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}