{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block content %}
	<div class="first">
			<h2>Mateusz Slisz</h2>
			<h3>Junior Back-end Programmer</h3>
	</div>
	<div class="second">
		<p>Hi my name is Matt and I am 20 years old, currently studying Computer Science and Econometrics in University of Economics in Katowice.</p>
		<p1>I am mainly interested in Python and its framework Django.<br>Also looking for a job as Junior Django Developer, so if u have any info contact me via email <a href="mailto:mat.slisz@yahoo.com">mat.slisz@yahoo.com</a>
		</p1>
	</div>
	<div class="third">
		<div class="left-skills">
			<h1><span class="glyphicon glyphicon-cog"></span>Skills</h1>
			<ul>
				<li>Python/Django</li>
				<li>CSS3</li>
				<li>HTML5</li>
				<li>JavaScript</li>
			</ul>
		</div>
		<div class="right-knowledge">
			<h1><span class="glyphicon glyphicon-book"></span>Knowledge</h1>
			<ul>
				<li>Version Control System-Git</li>
				<li>Responsive Web Design</li>
				<li>Bootstrap 3</li>
				<li>SQL Language</li>
			</ul>
		</div>
	</div>

{% endblock %}
