{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>MatBlog</title>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="description" content="MatBlog">
        <meta name="keywords" content="Python,Django,HTML,CSS,JavaScript">
        <meta name="author" content="Mateusz Slisz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Some CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!-- Some Fonts -->
        <link href="//fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="{% static 'media/logo.png' %}">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
                            {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <!-- Variable container -->
        <div class="content container">
            <div class="row row-centered">
                <div class="col-md-8 col-centered">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="end container">
        <footer class="footer">
            <ul class="list-inline text-center">
                <li>
                    <a target="_blank" href="//www.facebook.com/mateusz.slisz">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="//github.com/b1oader">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
            <p>&copy; MatBlog 2017</p>
            </ul>        
        </footer>
        </div>
    </body>
</html>
