{% extends 'blog/base.html' %}

{% block content %}
<div class="row row-centered" style="text-align: left;">
    <div class="col-md-8 col-centered">
      {% if request.GET.q %}
      <h1 class="newestart">Search results for: '{{ request.GET.q }}' in category: {{ category.title }}</h1>
      {% else %}
      <h1 class="newestart">Category: {{ category.title }}</h1>
      {% endif %}

    {% for post in category.get_posts %}
            <article>
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <figure>
                          <a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.image.url|default_if_none:'#' }}"></a>
                      </figure>
                  </div>
                  <div class="col-sm-6 col-md-8">
                    <p class="nomargin">{{ post.published_date }}</p>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr|truncatechars:100 }}</p>
                    <div class="row-fluid bpad">
                      <span class="badge">{{ post.category }}</span>
                      <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-default btn-sm pull-right">READ MORE</a>
                    </div>
                  </div>  
              </div>
            </article>
    {% empty %}
    <h3>Sorry, but no post don't have category '{{ category.title }}'</h3>
    {% endfor %}
        <!-- Older button -->
        {% if posts.has_previous %}
          <ul class="pager pull-left">
              <li class="prev">
                  <a href="?page={{ posts.previous_page_number }}" style="float: left;">&larr; Newest Posts</a>            
              </li>
          </ul>
        {% endif %}
        {% if posts.has_next %}
          <ul class="pager pull-right">
              <li class="next">
                  <a href="?page={{ posts.next_page_number }}">Older Posts &rarr;</a>            
              </li>
          </ul>
        {% endif %}
    </div>
    <div class="col-md-3">
      <h3>
        Home
      </h3>
      <div class="widget">
        <a href="{% url 'post_list' %}" class="btn btn-default btn-block">
          <span>&larr; Back to home</span>
        </a>
      </div>

      <div class="widget">
        <h3>
          Recent Posts
        </h3>
        <ul class="list-group">
          {% for form in forms %}
          <li class="list-group-item"><a href="{% url 'post_detail' pk=form.pk %}">{{ form.title|truncatewords:5 }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="widget">
        <h3>
          Categories
        </h3>
        <ul class="list-group">
          {% for category in categories %}
          <li class="list-group-item"><a href="{% url 'category_list' pk=category.pk %}">{{ category.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="widget">
        <h3>
          {{ category.title }}
        </h3>
        <span class="label label-default">Created on: {{ category.published_date }}</span>  
        <span class="label label-default">Amount of posts: {{ post_numbers }}</span>
    </div>
    </div>
</div>
{% endblock %}
