{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row row-centered" style="text-align: left; margin-top: 15px;" >
    <div class="col-md-8 col-centered">
      {% if request.GET.q and posts.has_previous %}
      <h1 class="newestart" style="margin-top: 0px;">Search Results for: '{{ request.GET.q }}'</h1>
      {% elif posts.has_previous %}
      <h1 class="newestart" id="tit" style="margin-top: 0px;">Older Posts</h1>
      {% elif request.GET.q %}
      <h1 class="newestart" style="margin-top: 0px;">Search Results for: '{{ request.GET.q }}'</h1>
      {% else %}
      <h1 class="newestart" id="tit" style="margin-top: 0px;">Recent Posts</h1>
      {% endif %}

      <!-- Articles -->
      {% for post in posts %}
          <article>
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <figure>
                          <a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.image.url|default_if_none:'#' }}"></a>
                      </figure>
                  </div>
                  <div class="col-sm-6 col-md-8">
                    <p class="nomargin">{{ post.published_date }}</p>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr|truncatechars:100 }}</p>
                    <div class="row-fluid bpad">
                      <span class="badge">{{ post.category }}</span>
                      <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-default btn-sm pull-right">READ MORE</a>
                    </div>
                  </div>
              </div>
          </article>
      {% empty %}
      <h3>Sorry, but no post don't have '{{ request.GET.q }}'</h3>
      {% endfor %}

{% if posts.has_other_pages %}
        <!-- Older posts -->
          <div class="pagi">
            <ul class="pagination">

              {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a></li>
              {% else %}
                <li class="disabled"><span>Prev</span></li>
              {% endif %}

              {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
              {% else %}
                <li class="disabled"><span>Next</span></li>
              {% endif %}

            </ul>
          </div>
{% endif %}
    </div>

    <div class="col-md-3">

      <div class="widget" style="margin-bottom: 20px;">
        <form method="GET" action="">
            <div class="input-group">
              <input type="text" class="search-query form-control" placeholder="Search" name="q" />
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
        </form>
      </div>

      <div class="widget">
        <h3>
          Recent Posts
        </h3>
            <ul class="list-group">
              {% for form in forms %}
              <a href="{% url 'post_detail' pk=form.pk %}" class="list-group-item">{{ form.title|truncatewords:5 }}</a>
              {% endfor %}
            </ul>     
      </div>

      <div class="widget">
        <h3>
          Categories
        </h3>
            <ul class="list-group">
              {% for category in categories %}
              <a href="{% url 'category_list' pk=category.pk %}" class="list-group-item">{{ category.title }}</a>
              {% endfor %}
            </ul>    
      </div>

      <div class="widget">
        <h3>
          Contact me
        </h3>
        <form action="" method="post"  id="contact_form">
          {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" name="name" class="textinput textInput form-control" required id="id_name" placeholder="Name" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" name="from_email" class="emailinput form-control" required id="id_from_email" placeholder="E-mail"/>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                   <textarea name="message" rows="4" class="textarea form-control" required id="id_message" placeholder="Message..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" >Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
            {% if messages %}
								{% for message in messages %}
								<p class="alert alert-success">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
      </div>
    </div>
</div>
{% endblock content %}
